<template>
  <div class="row btn-grid">
    <div class="col-md-12 col-lg-12 col-xl-12 q-mt-md">
      <q-btn to="/roles" :class="['cc-btn', 'pinky', 'q-mr-sm', {active: $route.meta.group === 'roles'} ]" rounded color="transparent" label="roles">
      </q-btn>
      <q-btn to="/upgrade" :class="['cc-btn', 'pinky', 'q-mr-sm', {active: $route.meta.group === 'upgrade' }]" rounded color="transparent" label="upgrade">
      </q-btn>
      <q-btn to="/stake" :class="['cc-btn', 'pinky', 'q-mr-sm', {active: $route.meta.group === 'stake'} ]" rounded color="transparent" label="stake">
      </q-btn>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
import { mapActions } from 'vuex'

export default defineComponent({
  name: 'BtnsGrid',
  methods: {
    ...mapActions(['getWalletTokens'])
  }
})
</script>
