<template>
  <q-btn
    @click="onBuyPt()"
    :loading=isLoading
    :class="['cc-btn', 'warning', 'q-mb-sm']"
    rounded
    :label='price + " " + "OTK"'
    >
    <template v-slot:loading>
      <q-spinner-ios color="white"></q-spinner-ios>
    </template>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'BuyPtBtn',
  props: ['amount'],
  data () {
    return {
      $q: useQuasar(),
      price: this.promotionTicketPrice,
      sTransaction: false
    }
  },
  computed: {
    ...mapGetters(['walletBalance', 'transaction', 'promotionTicketPrice', 'isLoading', 'promotionTicketAmount']),
    has_credit () {
      if (this.walletBalance.omnium_tokens > 0) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    transaction (transaction) {
      if (transaction.success === true) {
        this.$router.push('/upgrade/promotion_tickets/' + this.promotionTicketAmount)
      } else {
        this.$q.notify({
          type: 'cc-negative',
          message: transaction.status,
          position: 'top-right'
        })
      }
    }
  },
  mounted () {
    this.getMintPack({ amount: this.amount }).then(price => {
      this.price = price
    })
  },
  methods: {
    ...mapActions(['getMintPack', 'mintPack']),
    onBuyPt () {
      this.mintPack({ amount: this.amount, price: this.price })
    }
  }
})
</script>
