<template>
  <q-btn
    @click="onClaimRole()"
    :loading=loading
    :class="['cc-btn', 'warning', 'q-mb-sm']"
    :disable="!has_residents"
    rounded
    label="CLAIM ROLE"
    >
    <template v-slot:loading>
      <q-spinner-ios color="white"></q-spinner-ios>
    </template>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'ClaimRoleBtn',
  data () {
    return {
      loading: !true,
      $q: useQuasar()
    }
  },
  computed: {
    ...mapGetters(['walletBalance', 'transaction']),
    has_residents () {
      if (this.walletBalance.resident_tokens > 0) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    transaction (transaction) {
      if (transaction.success === true) {
        this.$router.push('/role-claimed')
      } else {
        this.$q.notify({
          type: 'cc-negative',
          message: '<a href=' + this.transaction.status + '>' + this.transaction.status + '</a>',
          position: 'center'
        })
      }
    }
  },
  methods: {
    ...mapActions(['claimRole']),
    onClaimRole () {
      this.claimRole()
    }
  }
})
</script>
