<template>
  <q-btn
    @click="onConnectWallet()"
    :loading=loading
    :class="['cc-btn', 'connect-wallet', {'active': walletConnected}]"
    rounded color="transparent"
    :label="formatedWalletAddress"
    icon-right="mdi-gitlab">
    <template v-slot:loading>
      <q-spinner-ios color="white"></q-spinner-ios>
    </template>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { mapActions, mapGetters } from 'vuex'

export default defineComponent({
  name: 'ConnectWalletBtn',
  data () {
    return {
      loading: !true
    }
  },
  computed: {
    ...mapGetters(['formatedWalletAddress', 'walletConnected', 'walletTokensStatus', 'walletTokens'])
  },
  watch: {
    walletConnected: function (value) {
      if (value === true) {
        this.getWalletBalance()
        this.getWalletTokens()
      }
    },
    walletTokensStatus: function (value) {
      if (value === true) {
        if (this.walletTokens.length >= 1) {
          this.$router.push('/upgrade')
        } else {
          this.$router.push('/roles')
        }
      }
    }
  },
  methods: {
    ...mapActions(['connectWallet', 'getWalletBalance', 'getWalletTokens', 'getWalletStakes']),
    onConnectWallet () {
      this.connectWallet()
    }
  }
})
</script>
