<template>
  <q-btn
    @click="onStakeRole()"
    :loading=loading
    :class="['cc-btn', 'warning', 'q-mb-sm']"
    rounded
    label="STAKE"
    >
    <template v-slot:loading>
      <q-spinner-ios color="white"></q-spinner-ios>
    </template>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'StakeRoleBtn',
  props: ['tokenId'],
  data () {
    return {
      loading: this.isLoading,
      $q: useQuasar()
    }
  },
  computed: {
    ...mapGetters(['walletBalance', 'transaction', 'isLoading'])
  },
  watch: {
    transaction (transaction) {
      if (transaction.success === true) {
        this.$router.push('/role_stake/token_id/' + this.tokenId)
      } else {
        this.$q.notify({
          type: 'cc-negative',
          message: transaction.status,
          position: 'top-right'
        })
      }
    }
  },
  methods: {
    ...mapActions(['stakeRole']),
    onStakeRole () {
      this.stakeRole({ tokenId: this.tokenId })
    }
  }
})
</script>
