<template>
  <q-btn
    @click="onUpgradeRole()"
    :loading=loading
    :class="['cc-btn', 'warning', 'q-mb-sm']"
    :disable="!has_residents"
    rounded
    :label= "promotionTickets + ' PROMOTION TICKET'"
    >
    <template v-slot:loading>
      <q-spinner-ios color="white"></q-spinner-ios>
    </template>
  </q-btn>
</template>

<script>
import { defineComponent } from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'UpgradeRoleBtn',
  props: ['promotionTickets', 'tokenId'],
  data () {
    return {
      loading: !true,
      $q: useQuasar()
    }
  },
  computed: {
    ...mapGetters(['walletBalance', 'transaction']),
    has_residents () {
      if (this.walletBalance.resident_tokens > 0) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    transaction (transaction) {
      if (transaction.success === true) {
        this.$router.push('/role-upgraded')
      } else {
        this.$q.notify({
          type: 'cc-negative',
          message: transaction.status,
          position: 'center'
        })
      }
    }
  },
  methods: {
    ...mapActions(['tokenUpgrade']),
    onUpgradeRole () {
      this.tokenUpgrade({ tokenId: this.tokenId, promotionTickets: this.promotionTickets })
    }
  }

})
</script>
