<template>
<q-page>
    <q-card class="border" id="testCard">

    </q-card>
</q-page>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TestCard'
})
</script>

<style scoped>
 .cc-card {
    background: transparent;
    padding: 5em;
    border: 80px solid;
    border-image-source: url(/imgs/bg-card.svg);
    width: 35vw;
    height: 50vw;
    border-image-slice: 100;
    width: auto;
    height: 300px;
 }
</style>
