<template>
  <q-card class="cc-card">
    <q-card-section class="inner">
      <h3 class="no-margin q-ma-md glow text-left">{{subtitle}}</h3>
      <h4 class="no-margin glow" :data-descr="splitTitle">{{title}}</h4>
      <span v-if="subtitle == 1">
        <div class="text-center inner q-mt-md">
          <img src="imgs/ticket.png" class="responsive q-mb-md" />
        </div>
      </span>
      <span v-if="subtitle > 1 && subtitle < 10">
        <div class="row text-left inner q-mt-lg">
          <div v-for="n in subtitle" :key="n" class="col"><img src="imgs/ticket.png" class="responsive q-mb-md" /></div>
        </div>
      </span>
      <span v-if="subtitle >= 10">
        <div class="row text-left inner q-mt-lg">
          <div v-for="n in 5" :key="n" class="col">
            <img src="imgs/ticket.png" class="responsive q-mb-md" />
            <img src="imgs/ticket.png" class="responsive q-mb-md" />
          </div>
        </div>
      </span>
    </q-card-section>
  </q-card>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'VerticalCard',
  props: [
    'subtitle',
    'title',
    'splitTitle',
    'cardText'
  ]
})
</script>
