<template>
  <q-page class="padding">
    <div class="row">
      <div class="col-6 q-pa-md">
        <div class="q-gutter-sm column q-ma-md">
          <connect-wallet-btn class="q-mr-md"></connect-wallet-btn>
          <q-btn
            color='teal-10'
            class="q-mr-md"
            @click="onWalletBalance()"
            label="Get current Tokens Balance">
          </q-btn>
          <q-btn
            color='red-6'
            class="q-mr-md"
            @click="onClaimRole()"
            label="Test Role Claim"
            :loading="isLoading">
          </q-btn>
          <q-btn
            color='orange-6'
            class="q-mr-md"
            to='/wallet_tokens'
            label="Show Wallet Minted Roles">
          </q-btn>
        </div>
      </div>
      <div class="col-6 q-pa-xl">
        <q-card class="q-pa-xl">
          <p>Redemption Tokens: {{walletBalance.redemption_tokens}}</p>
          <p>Resident Tokens: {{walletBalance.resident_tokens}}</p>
        </q-card>
      </div>
    </div>
      <div class="row text-center q-pa-xl" v-if="transaction">
        <div class="col-md-12">
          <q-banner dense inline-actions class="text-white bg-green q-pa-md">
            {{transaction.status}}
          </q-banner>
        </div>
      </div>
    <div class="row text-center">
      <div class="col-12"><h3>Tokens in Collection </h3></div>
    </div>
    <div class="row justify-center q-pa-md">
      <span v-for="token in collectionTokens" :key='token'>
        <div class="col">
          <div class="q-card text-center q-mr-md q-pb-md">
              <img :src="token.image_url" />
            <p class="q-mt-md"><strong> Token Id: </strong> {{token.token_id}}</p>
            <p><strong>Token Name:</strong> {{token.name}}</p>
          </div>
        </div>
      </span>
    </div>
    <balance-bar></balance-bar>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { mapActions, mapGetters } from 'vuex'
import ConnectWalletBtn from 'src/components/buttons/ConnectWalletBtn.vue'
import BalanceBar from 'src/components/BalanceBar.vue'

export default defineComponent({
  name: 'PageIndex',
  components: {
    ConnectWalletBtn: ConnectWalletBtn,
    BalanceBar: BalanceBar
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(['walletBalance', 'collectionTokens', 'transaction', 'isLoading'])
  },
  mounted () {
    this.getCollectionTokens()
  },
  methods: {
    ...mapActions(['getWalletBalance', 'getCollectionTokens', 'getWalletTokens', 'mint']),
    onWalletBalance () {
      this.getWalletBalance()
    },
    onClaimRole () {
      this.mint()
    }
  }
})
</script>
<style scoped>
.q-card img {
  width: 300px;
  height: 150px;
}
</style>
