<template>
  <q-page padding>
    <background></background>
    <div class="row">
      <div class="col-md-6 q-ma-md intro-text">
        <h4 class="no-margin"><span class="text-cyellow"> RESIDENT </span>PLATFORM </h4>
        <h5 class="no-margin">Here you will be able to claim your roles. upgrade, and stake them.</h5>
      </div>
    </div>
    <div class="row q-gutter-sm justify-center q-mt-md index-icons">
      <div class="col-3 text-center">
        <img class="responsive float-1" src="imgs/front-img-1.svg" style="width:250px;">
      </div>
      <div class="col-3 text-center">
        <img class="responsive float-2" src="imgs/front-img-2.svg" style="width:250px;">
      </div>
      <div class="col-3 text-center">
        <img class="responsive float-3" src="imgs/front-img-3.svg" style="width:250px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12 q-mt-md justify-center">
        <p class="text-center" text-color="white" v-if="!walletConnected">To enter, connect your wallet.</p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 q-mt-md text-center">
        <connect-wallet-btn size="lg" class="active q-pl-xl q-pr-xl cw-btn-bottom"></connect-wallet-btn>
      </div>
    </div>
  </q-page>
</template>
<script>
import ConnectWalletBtn from 'src/components/buttons/ConnectWalletBtn.vue'
import { mapActions, mapGetters } from 'vuex'
import Background from 'src/components/Background.vue'
export default {
  setup () {
  },
  computed: {
    ...mapGetters(['walletConnected'])
  },
  components: {
    Background,
    ConnectWalletBtn
  },
  watch: {
    walletConnected: function (value) {
      if (value === true) {
        // this.$router.push('/roles')
      }
    }
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions(['connectWallet'])
  },
  mounted () {
  }
}
</script>
