<template>
  <q-page padding>
    <background></background>
    <div class="row">
      <div class="col-md-6">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
      </div>
    </div>
    <balance-bar></balance-bar>
      <div class="row justify-center">
        <div class="col-md-3">
          <vertical-card :class="animation" :subtitle="parseInt(ptPack)" :title="'PROMOTION TICKETS BOUGHT'">
          </vertical-card>
          <div class="col-md-12 q-mt-md text-center">
            <q-btn class="col cc-btn primary" to="/upgrade" rounded color="transparent" label="BACK"></q-btn>
          </div>
        </div>
      </div>
  </q-page>
 </template>
<script>
import Background from 'src/components/Background.vue'
import BalanceBar from 'src/components/BalanceBar.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'
import VerticalCard from 'src/components/cards/VerticalCard.vue'
import { useQuasar } from 'quasar'

export default {
  setup () {
  },
  components: {
    Background,
    BalanceBar,
    BtnsGrid,
    VerticalCard
  },
  data () {
    return {
      ptPack: '',
      animation: 'animate__animated animate__zoomIn animate__delay-2s',
      $q: useQuasar()
    }
  },
  mounted () {
    this.ptPack = this.$route.params.pack
  },
  watch: {
    transaction: function (value) {
      if (value) {
        this.triggerNotify()
      }
    }
  },
  methods: {
    triggerNotify () {
      let type
      if (this.transaction.success === true) {
        type = 'cc-positive'
      } else {
        type = 'cc-negative'
      }
      this.$q.notify({
        type: type,
        message: this.transaction.status,
        position: 'center',
        onDismiss: () => { this.$router.push('/upgrade') }
      })
    }
  }
}
</script>
