<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-6">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
      </div>
    </div>
    <balance-bar></balance-bar>
    <div class="row ">
      <div class="col-xs-12 col-md-12 ">
        <div class="row q-mt-md intro-text">
          <p class="no-margin q-mt-md text-h6">Upgrading your role will increase your staking yield. It will burn your current role and give you a new, upgraded one.</p>
        </div>
      </div>
    </div>
    <div class="row justify-center q-gutter-xl q-mt-md q-pa-md">
      <div v-for="pack in ptPacks" :key="pack" class="col-md-3 col-sm-10 col-xs-10 col-lg-3 col-xl-2 q-mt-md text-center">
        <vertical-card :subtitle="parseInt(pack)" :title="'PROMOTION TICKETS'">
        </vertical-card>
        <buy-pt-btn class="q-mt-md" :amount="parseInt(pack)" ></buy-pt-btn>
      </div>
    </div>
  </q-page>
</template>
<script>
import Background from 'src/components/Background.vue'
import BalanceBar from 'src/components/BalanceBar.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'
import VerticalCard from 'src/components/cards/VerticalCard.vue'
import BuyPtBtn from 'src/components/buttons/BuyPtBtn.vue'

export default {
  setup () {
  },
  components: {
    Background,
    BalanceBar,
    BtnsGrid,
    VerticalCard,
    BuyPtBtn
  },
  data () {
    return {
      ptPacks: process.env.PT_PACKS.split(',')
    }
  },
  mounted () {
  }
}
</script>
