<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-12 q-ml-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
        <div class="row q-mt-md">
          <div class="col-12">
            <h4 class="no-margin">Stake Role</h4>
          </div>
          <p class="no-margin q-mt-md text-h6">By staking, you are locking your role NFT and you won’t be able to transfer or sell it while staked. Staking will also grant, you a yield of Omnium Tokens (OTK) wich you can use yo upgrade and receive more yield.</p>
        </div>
      </div>
    </div>
    <div class="row justify-center q-gutter-md q-mt-xl">
      <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 text-center justify-center">
        <div class="cc-role-card">
          <p class="text-h5 text-left text-weight-medium"><span class="text-black">{{name}}</span> ROLE</p>
          <div class="text-center">
            <img width="250px" class="responsive card-image" :src="imageUrl">
            <img width="250px" class="candado" src="/imgs/candado2.svg">
          </div>
          <div class="q-mt-md q-mb-md" v-if="tokenData">
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">State:</span> Currently Staking</p>
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Amount:</span> {{ tokenStakeInfo.amount }}</p>
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Staking from:</span> {{ tokenStakeInfo.date }}</p>
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Earnings:</span> {{ tokenStakeInfo.earnings }}</p>
          </div>
        </div>
        <div class="row q-gutter-x-md q-mt-md text-center">
          <q-btn @click="onGetRewards()" class="col cc-btn primary q-mt-md" rounded color="transparent" label="Get Rewards"></q-btn>
          <q-btn @click="onWithdraw()" class="col cc-btn primary q-mt-md" rounded color="transparent" label="Withdraw"></q-btn>
        </div>
      </div>
    </div>
  </q-page>
  <q-dialog v-model="showModal">
    <q-card class="cc-card-horizontal">
      <q-card-section class="bg-black q-pa-md text-center">
        <div class="text-h5 q-ml-md">Withdraw Stake
          <q-separator class="q-mt-sm" :size="'1px'" :color="'grey-4'"></q-separator>
        </div>
        <p><a target="_blank" :href="transaction.url">{{ transaction.status }}</a></p>
        <p class="text-body1">Transaction may take while to fullfill and new tokens may take up to 10 minutes to show up. please go back to <router-link to='/roles'>roles</router-link> and refresh</p>
        <div class="row q-mt-xl">
          <div class="col-md-12 text-center">
            <q-btn
            class="cc-btn pinky active"
            rounded
            color="transparent"
            @click="showModal=!false"
            to="/roles"
            label="I understand">
          </q-btn>
        </div>
      </div>
    </q-card-section>
  </q-card>
</q-dialog>
</template>
<script>
import Background from 'src/components/Background.vue'
import { mapActions, mapGetters } from 'vuex'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'

export default {
  setup () {},
  components: {
    Background,
    BtnsGrid
  },
  data () {
    return {
      tokenId: 0,
      stakingCo: 0,
      imageUrl: '',
      name: '',
      showModal: false,
      withdrawAction: false
    }
  },
  computed: {
    ...mapGetters(['walletStakes', 'tokenData', 'tokenStakeInfo', 'transaction']),
    tier () {
      let tier
      if (this.tokenId >= 1 && this.tokenId <= 50) {
        tier = 1
      }
      if (this.tokenId > 50 && this.tokenId <= 100) {
        tier = 2
      } else if (this.tokenId > 100) {
        tier = 3
      }

      return tier
    }
  },
  watch: {
    transaction: function (value) {
      if (value.success === false) {
        this.triggerNotify()
      }
      if (value.success === true && this.withdrawAction === true) {
        this.showModal = true
      }
      if (value.success === true && this.withdrawAction === false) {
        this.triggerNotify()
      }
    }
  },
  methods: {
    ...mapActions(['getTokenData', 'stakeRole', 'getTokenStakeInfo', 'getRewards', 'withdrawStake']),
    findToken () {
      const key = this.walletStakes.find(element => parseInt(element.token_id) === parseInt(this.tokenId))
      if (key) {
        this.imageUrl = key.image_url
        this.name = key.name
      }
    },
    onGetRewards () {
      this.getRewards({ tokenId: this.tokenId })
    },
    onWithdraw () {
      this.withdrawStake({ tokenId: this.tokenId })
      this.withdrawAction = true
    },
    triggerNotify () {
      let type
      if (this.transaction.success === true) {
        type = 'cc-positive'
      } else {
        type = 'cc-negative'
      }
      this.$q.notify({
        type: type,
        message: '<a target="_blank" href=' + this.transaction.url + '>' + this.transaction.status + '</a>',
        position: 'center',
        html: true,
        timeout: 0,
        actions: [
          {
            icon: 'close',
            'aria-label': 'Dismiss'
          }
        ],
        onDismiss: () => { this.$router.push('/roles') }
      })
    }
  },
  mounted () {
    this.tokenId = this.$route.params.id
    this.findToken()
    this.getTokenData({ tokenId: this.tokenId })
    this.stakingCo = this.tokenData.otkCoeficient
    this.getTokenStakeInfo({ tokenId: this.tokenId })
  }
}
</script>
