<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-12 q-pl-lg q-pr-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
        <div class="row q-mt-md">
          <p class="no-margin q-mt-md text-h6">Roles are your job in CyberCity, each roll will allow you to participate in different events and activities.</p>
        </div>
      </div>
    </div>
    <div class="row justify-center q-gutter-md q-mt-xl">
      <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 text-center justify-center">
        <div class="cc-role-card">
          <p class="text-h5 text-left text-weight-medium"><span class="text-black">{{name}}</span> ROLE</p>
          <div class="text-center">
            <img class="responsive card-image" :src="imageUrl">
          </div>
          <div class="q-mt-md q-mb-md" v-if="tokenData">
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Tier:</span> {{tier}}</p>
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Staking yield:</span> {{tokenData.otkCoeficient}} OTK/day</p>
            <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Upgrade Price:</span> {{tokenData.upgradePrice}} Promotion Ticket</p>
          </div>
        </div>
        <div class="row q-mt-md justify-center q-gutter-md">
          <q-btn class="cc-btn primary self-center" to="/upgrade" rounded color="transparent" label="BACK"></q-btn>
          <q-btn class="cc-btn primary self-center" :to="'/upgrade/token_id/' + tokenId" rounded color="transparent" label="UPGRADE"></q-btn>
          <q-btn class="cc-btn primary self-center" @click="onStakeRole()" rounded color="transparent" label="STAKE"></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import Background from 'src/components/Background.vue'
import { mapActions, mapGetters } from 'vuex'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'
export default {
  setup () {},
  components: {
    Background,
    BtnsGrid
  },
  data () {
    return {
      tokenId: 0,
      stakingCo: 0,
      imageUrl: '',
      name: ''
    }
  },
  computed: {
    ...mapGetters(['walletTokens', 'tokenData', 'transaction', 'walletStakes']),
    tier () {
      let tier
      if (this.tokenId >= 1 && this.tokenId <= 10) {
        tier = 1
      }
      if (this.tokenId > 10 && this.tokenId <= 20) {
        tier = 2
      } else if (this.tokenId > 20) {
        tier = 3
      }

      return tier
    }
  },
  watch: {
    transaction: function (value) {
      if (value) {
        this.triggerNotify()
      }
    }
  },
  methods: {
    ...mapActions(['getTokenData', 'stakeRole']),
    findToken () {
      const key = this.walletTokens.find(element => parseInt(element.token_id) === parseInt(this.tokenId))
      const keyStake = this.walletStakes.find(element => parseInt(element.token_id) === parseInt(this.tokenId))
      if (keyStake) {
        this.$router.push('/role_stake/token_id/' + this.tokenId)
      } else {
        if (key) {
          this.imageUrl = key.image_url
          this.name = key.name
        } else {
          this.$router.push('/roles')
        }
      }
    },
    onStakeRole () {
      this.stakeRole({ tokenId: this.tokenId })
    },
    triggerNotify () {
      let type
      if (this.transaction.success === true) {
        type = 'cc-positive'
      } else {
        type = 'cc-negative'
      }
      this.$q.notify({
        type: type,
        message: '<a target="_blank" href=' + this.transaction.url + '>' + this.transaction.status + '</a>',
        position: 'center',
        html: true,
        timeout: 0,
        actions: [
          {
            icon: 'close',
            'aria-label': 'Dismiss'
          }
        ],
        onDismiss: () => { this.$router.push('/roles') }
      })
    }
  },
  mounted () {
    this.tokenId = this.$route.params.id
    this.findToken()
    this.getTokenData({ tokenId: this.tokenId })
    this.stakingCo = this.tokenData.otkCoeficient
  }
}
</script>
