<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-6 q-pl-lg q-pr-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
        <div class="row q-mt-md">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h4 class="no-margin">About Roles</h4>
          </div>
          <p class="no-margin q-mt-md text-h6">Roles are your job in CyberCity, each roll will allow you to participate in different events and activities.</p>
          <div class="col-md-12" v-if="walletBalance">
            <p class="no-margin text-h6" v-if="walletBalance.resident_tokens >= 1">You have {{walletBalance.resident_tokens}} Residents, wich means you can claim {{walletBalance.resident_tokens}} free Roles.</p>
            <p class="no-margin" v-else>No Residents, please go to <a href="https://www.cybercitynft.com/mint">https://www.cybercitynft.com/mint</a> for minting </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div v-if="urlsList" class="tokens-grid col-md-12 text-center">
        <span v-for="token in urlsList" :key="token">
          <span v-if="token.isToken === true">
            <a class="token_image_anchor" href="#" v-on:click.prevent.stop="goToRole(token.tokenId, $event)">
              <img class="token_image animate__animated animate__zoomIn animate__delay-2s" :src="token.imageUrl" />
            </a>
          </span>
          <span v-else>
            <img :src="token.imageUrl" />
          </span>
        </span>
      </div>
    </div>
    <div class="row role-bottom-buttons q-mt-lg q-pl-xl q-pr-xl">
      <div class="col col-xs-12 col-sm-12 col-md-6">
        <q-btn @click="getWalletTokens()" v-if="$route.path === '/roles'" class="cc-btn warning q-ml-xl float-left q-mt-sm" rounded>Refresh</q-btn>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-6">
        <claim-role-btn class="q-mr-xl q-mt-sm float-right" size="md"></claim-role-btn>
      </div>
    </div>
  </q-page>
  <q-dialog v-model="showModal">
    <q-card class="cc-card-horizontal" style="">
      <q-card-section class="bg-black q-pa-md">
        <div class="text-h5 q-ml-md">About Roles
          <q-separator class="q-mt-sm" :size="'1px'" :color="'grey-4'"></q-separator>
        </div>
        <p class="text-body1">Hey Resident!</p>
        <p class="text-body1">Roles will allow you to stake and gain Omnium Tokens, CyberCity’s currency. This tokens will also allow you to buy Role Promotions to upgrade your roles.</p>
        <p class="text-body1">If you own Resident Passes, you will be able to claim a free role for each resident pass you own.</p>
        <div class="text-weight-bolder text-body1">1 RESIDENT PASS = <span class="text-cyellow"> 1 CYBERCITY ROLE </span> </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <q-btn
            class="cc-btn pinky active"
            rounded
            color="transparent"
            @click="showModal=false"
            to="/roles"
            label="I understand">
          </q-btn>
        </div>
      </div>
    </q-card-section>
  </q-card>
</q-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import ClaimRoleBtn from 'src/components/buttons/ClaimRoleBtn.vue'
import Background from 'src/components/Background.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'

export default {
  setup () {
  },
  computed: {
    ...mapGetters(['walletTokens', 'collectionTokens', 'isLoading', 'walletBalance', 'rolesList'])
  },
  components: {
    ClaimRoleBtn,
    Background,
    BtnsGrid
  },
  data () {
    return {
      loading: false,
      urlsList: [],
      showModal: true,
      current: 1,
      max: 3,
      token: {
        id: '',
        image_url: ''
      }
    }
  },
  methods: {
    ...mapActions(['connectWallet', 'getCollectionTokens', 'getWalletBalance', 'getWalletTokens', 'getRolesList']),
    getImgIndex (idx) {
      const key = this.walletTokens.find(element => parseInt(element.render_token_id) === idx)
      const arr = []
      if (key) {
        const obj = {
          tokenId: key.token_id,
          imageUrl: key.image_thumbnail_url,
          isToken: true
        }
        this.urlsList.push(obj)
      } else {
        const obj = {
          isToken: false,
          imageUrl: this.getHideImage()
        }
        this.urlsList.push(obj)
      }
      return arr
    },
    getHideImage () {
      if (this.current < this.max) {
        this.current++
      } else {
        this.current = 1
      }
      return 'imgs/hiderol' + this.current + '.png'
    },
    goToRole (idx) {
      this.$router.push('/role/token_id/' + idx)
    },
    async loadTokens () {
      const maxRange = 36
      let result
      let init
      if (this.walletTokens === 1) {
        init = 0
      } else {
        init = 1
      }
      for (init = 1; init < maxRange; init++) {
        result = this.getImgIndex(init)
      }
      return result
    },
    triggerNotify () {
      let type
      if (this.transaction.success === true) {
        type = 'cc-positive'
      } else {
        type = 'cc-negative'
      }
      this.$q.notify({
        type: type,
        message: this.transaction.status,
        position: 'center',
        onDismiss: () => { this.$router.push('/roles') }
      })
    }
  },
  created () {
  },
  mounted () {
    this.getWalletTokens()
    this.getWalletBalance()
    this.$nextTick(() => {
      this.loadTokens()
    })
  }

}
</script>
<style>
</style>
