<template>
  <q-page padding>
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
    <div class="horizon"></div>
    <div class="floor"></div>
    <div class="row">
      <div class="col-md-12 q-pa-xl text-center">
        <h1 :class="['glowInner', animation]">YOU UPGRADE YOUR ROLE!</h1>
      </div>
    </div>
  </q-page>
  <q-dialog v-model="showModal">
    <q-card class="cc-card-horizontal">
      <q-card-section class="bg-black q-pa-md text-center">
        <div class="text-h5 q-ml-md">Role Upgraded
          <q-separator class="q-mt-sm" :size="'1px'" :color="'grey-4'"></q-separator>
        </div>
        <p class="text-body1"><a target="_blank" href="{{ transaction.status }}">{{ transaction.status }}</a></p>
        <p class="text-body1">Transaction may take while to fullfill and new tokens may take up to 10 minutes to show up. Please go back to <router-link to='/roles'>roles</router-link> and refresh</p>
        <div class="row q-mt-xl">
          <div class="col-md-12 text-center">
            <q-btn
            class="cc-btn pinky active"
            rounded
            color="transparent"
            @click="showModal=!false"
            to="/roles"
            label="I understand">
          </q-btn>
        </div>
      </div>
    </q-card-section>
  </q-card>
</q-dialog>
</template>
<script>
import { useQuasar } from 'quasar'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      animation: 'animate__animated animate__zoomIn animate__delay-2s',
      $q: useQuasar(),
      showModal: true
    }
  },
  computed: {
    ...mapGetters(['transaction'])
  },
  watch: {
    transaction: function (value) {
      if (value.success === false) {
        this.triggerNotify()
      } else {
        this.showModal = true
      }
    }
  },
  methods: {
    changeAnimation () {
      this.animation = 'animate__animated animate__bounceIn animate_delay-2s'
    },
    triggerNotify () {
      let type
      if (this.transaction.success === true) {
        type = 'cc-positive'
      } else {
        type = 'cc-negative'
      }
      this.$q.notify({
        type: type,
        message: '<a target="_blank" href=' + this.transaction.status + '>' + this.transaction.status + '</a>',
        position: 'center',
        html: true,
        timeout: 0,
        actions: [
          {
            icon: 'close',
            'aria-label': 'Dismiss'
          }
        ],
        onDismiss: () => { this.$router.push('/roles') }
      })
    }
  },
  mounted () {
  }
}
</script>
<style>
.glowInner {
  font-weight: 900;
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #02E8CC, 0 0 40px #02E8CC, 0 0 50px #02E8CC;
}
</style>
