<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-12 q-pl-lg q-pr-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
        <div class="row q-mt-md">
          <div class="col-12">
            <h4 class="no-margin">Stake Role</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <p class="no-margin q-mt-md text-h6">By staking, you are locking your role NFT and you won’t be able to transfer or sell it while staked. Staking will also grant, you a yield of Omnium Tokens (OTK) wich you can use yo upgrade and receive more yield.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row q-mt-md">
      <div v-if="urlsList" class="tokens-grid col-md-12 text-center">
        <span v-for="token in urlsList" :key="token">
          <span v-if="token.isToken === true">
            <a href="#" v-on:click.prevent.stop="goToRole(token.tokenId, $event)">
              <img class="token_image animate__animated animate__zoomIn animate__delay-2s" :src="token.imageUrl" />
            </a>
          </span>
          <span v-else>
            <img :src="token.imageUrl" />
          </span>
        </span>
      </div>
    </div>
    <div class="row q-mt-lg q-pl-xl q-pr-xl">
      <div class="col-md-12 text-right">
      </div>
    </div>
  </q-page>
  <q-dialog v-model="showModal">
    <q-card class="cc-card-horizontal" style="">
      <q-card-section class="bg-black text-left q-pa-md">
        <div class="text-h5 q-ml-md">About Stake
          <q-separator class="q-mt-sm" :size="'1px'" :color="'grey-4'"></q-separator>
        </div>
        <p class="text-body1">Hey Resident!</p>
        <p class="text-body1" v-if="walletStakes.length === 0">You are not staking any role right now, go back to <router-link to='/roles'>roles</router-link> and choose one to stake.</p>
        <p class="text-body1">Staking your role will completely lock it, meaning you won’t be able to transfer or sell it. You can un-stake it any time you want.</p>
        <p class="text-body1 text-weight-bolder">Staking will give you a specific number of OTK per day, once you save enough, you can un-stake it and upgrade your role.</p>

        <div class="row">
          <div class="col-md-12 text-right">
            <q-btn
            class="cc-btn pinky active q-mt-xl"
            rounded
            color="transparent"
            @click="showModal=false"
            to="/stake"
            label="I understand">
          </q-btn>
        </div>
      </div>
    </q-card-section>
  </q-card>
</q-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Background from 'src/components/Background.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'

export default {
  setup () {
  },
  computed: {
    ...mapGetters(['walletTokens', 'collectionTokens', 'isLoading', 'walletBalance', 'rolesList', 'walletStakes', 'walletStakesStatus'])
  },
  components: {
    Background,
    BtnsGrid
  },
  data () {
    return {
      loading: false,
      urlsList: [],
      showModal: true,
      current: 1,
      max: 3,
      token: {
        id: '',
        image_url: ''
      }
    }
  },
  methods: {
    ...mapActions(['connectWallet', 'getCollectionTokens', 'getWalletBalance', 'getWalletTokens', 'getRolesList', 'getWalletStakes']),
    getImgIndex (idx) {
      const key = this.walletStakes.find(element => parseInt(element.render_token_id) === idx)
      const arr = []
      if (key) {
        const obj = {
          tokenId: key.token_id,
          imageUrl: key.image_thumbnail_url,
          isToken: true
        }
        this.urlsList.push(obj)
      } else {
        const obj = {
          isToken: false,
          imageUrl: this.getHideImage()
        }
        this.urlsList.push(obj)
      }
      return arr
    },
    getHideImage () {
      if (this.current < this.max) {
        this.current++
      } else {
        this.current = 1
      }
      return 'imgs/hiderol' + this.current + '.png'
    },
    goToRole (idx) {
      this.$router.push('/role_stake/token_id/' + idx)
    },
    async loadTokens () {
      const maxRange = 36
      let result
      let init
      if (this.walletStakes === 1) {
        init = 0
      } else {
        init = 1
      }
      for (init = 1; init < maxRange; init++) {
        result = this.getImgIndex(init)
      }
      return result
    }
  },
  watch: {
    walletStakesStatus: function (value) {
      if (value) {
        this.$nextTick(() => {
          this.loadTokens()
        })
      }
    }
  },
  created () {
  },
  mounted () {
    this.getWalletStakes()
    console.log(this.walletStakes)
  }

}
</script>
<style>
</style>
