<template>
  <q-page padding>
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
    <div class="horizon"></div>
    <div class="floor"></div>
    <div class="row q-mt-md">
      <div class="col-md-4">
        <q-btn class="cc-btn primary q-ma-md" rounded color="transparent" label="BUTTON">
        </q-btn>
        <q-btn class="cc-btn primary active q-ma-md" rounded color="transparent" label="ACTIVE">
        </q-btn>
        <q-btn class="cc-btn primary active q-ma-md" rounded color="transparent" label="DISABLE" disable>
        </q-btn>
        <q-btn class="cc-btn warning q-ma-md" rounded color="transparent" label="BUTTON">
        </q-btn>
        <q-btn class="cc-btn warning active q-ma-md" rounded color="transparent" label="ACTIVE">
        </q-btn>
        <q-btn class="cc-btn warning active q-ma-md" rounded color="transparent" label="DISABLE" disable>
        </q-btn>
        <q-btn class="cc-btn pinky q-ma-md" rounded color="transparent" label="BUTTON">
        </q-btn>
        <q-btn class="cc-btn pinky active q-ma-md" rounded color="transparent" label="ACTIVE">
        </q-btn>
        <q-btn class="cc-btn pinky active q-ma-md" rounded color="transparent" label="DISABLE" disable>
        </q-btn>
        <q-btn class="cc-btn warning primary q-ma-md" rounded color="transparent" label="connect wallet"
          icon-right="mdi-gitlab">
        </q-btn>
        <q-btn class="cc-btn primary q-ma-md" rounded color="transparent" @click="showModal = true " label="MODAL">
        </q-btn>
      </div>
      <div class="col-md-4">
        <vertical-card :subtitle="'APP VERSION'" :title="appVersion" :splitTitle="splitTitle" :cardText="cardText">
        </vertical-card>
      </div>
      <div class="col-md-4">
        <div class="q-gutter-sm">
            <q-radio  keep-color v-model="notifyStyle" color="green" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="positive" label="positive"></q-radio>
            <q-radio  keep-color v-model="notifyStyle" color="red" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="negative" label="negative"></q-radio>
            <q-radio  keep-color v-model="notifyStyle" color="yellow" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="warning" label="warning"></q-radio>
            <q-radio  keep-color v-model="notifyStyle" color="info" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="information" label="information"></q-radio>
          </div>
        <q-btn @click="triggerNotify()" class="cc-btn primary q-ma-md" rounded color="transparent" label="Notify">
        </q-btn>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
    </div>
    <q-dialog v-model="showModal">
      <q-card class="cc-card-horizontal">
        <q-card-section class="bg-black">
          <div class="text-h6">Full Width</div>
          Click/Tap on the backdrop.
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-page>
</template>
<script>
import VerticalCard from 'src/components/cards/VerticalCard.vue'
import { useQuasar } from 'quasar'

export default {
  setup () {
  },
  components: {
    VerticalCard
  },
  data () {
    return {
      splitTitle: 'IPSUM',
      cardText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet metus',
      showModal: false,
      $q: useQuasar(),
      notifyStyle: 'positive',
      appVersion: process.env.APP_VERSION
    }
  },
  mounted () {
  },
  methods: {
    triggerNotify () {
      this.$q.notify({
        type: 'cc-' + 'negative',
        message: 'This is a ' + this.notifyStyle + ' type notification.',
        position: 'top-right'
      })
    }
  }
}
</script>
