<template>
  <q-page padding>
    <background></background>
    <div class="row intro-text">
      <div class="col-md-12 q-pl-lg q-pr-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
        <div class="row q-mt-md">
          <p class="no-margin q-mt-md text-h6">Roles are your job in CyberCity, each roll will allow you to participate in different events and activities.</p>
        </div>
      </div>
    </div>
    <div class="row justify-center q-mt-xl">
      <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 text-center justify-center">
        <role-card v-if="tokenData" :tokenId="tokenId" :tokenData="tokenData"></role-card>
        <div class="row q-mt-md text-center">
          <upgrade-role-btn :tokenId="tokenId" :promotionTickets="tokenData.upgradePrice" :class="['col-12', 'cc-btn', 'warning']"></upgrade-role-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import Background from 'src/components/Background.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'
import RoleCard from 'src/components/RoleCard.vue'
import UpgradeRoleBtn from 'src/components/buttons/UpgradeRoleBtn.vue'
import { mapActions } from 'vuex'

export default {
  setup () {},
  components: {
    Background,
    BtnsGrid,
    RoleCard,
    UpgradeRoleBtn
  },
  data () {
    return {
      tokenId: 0,
      stakingCo: 0,
      imageUrl: '',
      name: '',
      tokenData: ''
    }
  },
  computed: {
    tier () {
      let tier
      if (this.tokenId >= 1 && this.tokenId <= 10) {
        tier = 1
      }
      if (this.tokenId > 10 && this.tokenId <= 20) {
        tier = 2
      } else if (this.tokenId > 20) {
        tier = 3
      }
      return tier
    },
    tokenId2 () {
      let value
      if (this.tier === 1) {
        value = parseInt(this.tokenId) + 50
      }
      return value.toString()
    },
    tokenId3 () {
      let value
      if (this.tier === 2) {
        value = parseInt(this.tokenId) + 100
      }
      return value.toString()
    }
  },
  methods: {
    ...mapActions(['getTokenData'])
  },
  mounted () {
    this.tokenId = this.$route.params.id
    this.getTokenData({ tokenId: this.tokenId }).then(result => {
      this.tokenData = result
    })
  }
}
</script>
