<template>
  <q-page padding>
  <background></background>
    <div class="row intro-text">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 q-pl-lg q-pr-lg">
        <h4 class="no-margin"><span class="text-cyellow">RESIDENT</span> PLATFORM </h4>
        <btns-grid></btns-grid>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><balance-bar :animate="animate"></balance-bar></div>
    </div>
    <div class="row q-pl-lg q-pr-lg intro-text">
      <div class="col-12 q-mt-sm">
          <h4 class="no-margin">About Upgrading</h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 q-mt-sm ">
        <p class="no-margin q-mt-md text-h6">By upgrading your roles, you get a job promotion.</p>
        <p class="no-margin q-mt-md text-h6"> Your old role will be burned and you will receive a new NFT with your upgraded role.</p>
      </div>
      </div>
    <div class="row q-mt-md">
      <div v-if="urlsList" class="tokens-grid col-md-12 text-center">
        <span v-for="token in urlsList" :key="token">
          <span v-if="token.isToken === true">
            <a href="#" v-on:click.prevent.stop="goToRole(token.tokenId, $event)">
              <img class="token_image animate__animated animate__zoomIn animate__delay-2s" :src="token.imageUrl" />
            </a>
          </span>
          <span v-else>
            <img :src="token.imageUrl" />
          </span>
        </span>
      </div>
    </div>
    <div class="row q-mt-lg q-pl-xl q-pr-xl role-bottom-buttons">
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <q-btn to="/upgrade/promotion_tickets" class="cc-btn warning q-ma-md float-right" rounded color="transparent" label="Buy Promotion Tickets">
        </q-btn>
      </div>
    </div>
  </q-page>
      <q-dialog v-model="showModal">
      <q-card class="cc-card-horizontal" style="">
        <q-card-section class="bg-black text-left q-pa-md">
          <div class="text-h5 q-ml-md">About Upgrading
            <q-separator class="q-mt-sm" :size="'1px'" :color="'grey-4'"></q-separator>
          </div>
          <p class="text-body1">Hey Resident!</p>
          <p class="text-body1">Upgrading your role will increase your staking yield. It will burn your current role and give you a new, upgraded one.</p>
          <p class="text-body1 text-weight-bolder">To upgrade, you need Role Promotion Tickets. You can buy this with OTK in the upgrade tab of the Resident Platform.</p>
          <p class="text-body1 text-weight-bolder">Recommendation: As soon as you claim your role, stake it. Then save the ammount required in order to upgrade it.</p>
          <div class="row">
            <div class="col-md-12 text-right">
              <q-btn
                class="cc-btn pinky active"
                rounded
                color="transparent"
                @click="hideModal()"
                label="I understand">
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Background from 'src/components/Background.vue'
import BalanceBar from 'src/components/BalanceBar.vue'
import BtnsGrid from 'src/components/buttons/BtnsGrid.vue'
export default {
  setup () {
  },
  computed: {
    ...mapGetters(['walletTokens', 'collectionTokens', 'isLoading', 'walletBalance', 'rolesList'])
  },
  components: {
    Background,
    BalanceBar,
    BtnsGrid
  },
  data () {
    return {
      loading: false,
      urlsList: [],
      showModal: true,
      current: 1,
      max: 3,
      animate: '',
      token: {
        id: '',
        image_url: ''
      }
    }
  },
  methods: {
    ...mapActions(['connectWallet', 'getCollectionTokens', 'getWalletBalance', 'getWalletTokens', 'getRolesList']),
    hideModal () {
      this.showModal = false
      this.animate = 'animate__animated animate__slideInRight animate__delay-2s'
      this.$emit('modalClosed', true)
    },
    getImgIndex (idx) {
      const key = this.walletTokens.find(element => parseInt(element.render_token_id) === idx)
      const arr = []
      if (key) {
        const obj = {
          tokenId: key.token_id,
          imageUrl: key.image_url,
          isToken: true
        }
        this.urlsList.push(obj)
      } else {
        const obj = {
          isToken: false,
          imageUrl: this.getHideImage()
        }
        this.urlsList.push(obj)
      }
      return arr
    },
    getHideImage () {
      if (this.current < this.max) {
        this.current++
      } else {
        this.current = 1
      }
      return 'imgs/hiderol' + this.current + '.png'
    },
    goToRole (idx) {
      this.$router.push('/role/token_id/' + idx)
    },
    async loadTokens () {
      const maxRange = 36
      let result
      for (let i = 1; i < maxRange; i++) {
        result = this.getImgIndex(i)
      }
      return result
    }
  },
  created () {
  },
  mounted () {
    this.getWalletTokens()
    this.getWalletBalance()
    this.$nextTick(() => {
      this.loadTokens()
    })
  }

}
</script>
