<template>
  <q-page class="padding">
    <div class="row text-center">
      <div class="col-12">
        <h3>Tokens in Wallet </h3>
      </div>
    </div>
    <div v-if="walletTokens" class="row justify-center q-pa-md">
      <span v-for="token in walletTokens" :key='token'>
        <div class="col">
          <div class="q-card text-center q-mr-md q-pb-md">
            <img :src="token.image_url" />
            <p class="q-mt-md"><strong> Token Id: </strong> {{token.token_id}}</p>
            <p><strong>Token Name:</strong> {{token.name}}</p>
            <q-btn color="red" label="Upgrade" @click="onTokenUpgrade(token.token_id)"></q-btn>
          </div>
        </div>
      </span>
    </div>
  </q-page>
   <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="" color="primary" text-color="white"></q-avatar>
          <span class="q-ml-sm"><p>Upgrade Price:</p>
            <span v-if='selectedTokenId > 1 && selectedTokenId <= 50'>
              <p><strong>Your First Upgrade</strong></p>
              <p> Price in Eth: {{tokenData.fisrtUpgradePriceEth}}</p>
              <p> Price in Omnium Coin: {{tokenData.fisrtUpgradePriceOT}}</p>
            </span>
            <span v-if='selectedTokenId >= 50 && selectedTokenId <= 100'>
              <p> Price in Eth: {{tokenData.secondUpgradePriceEth}}</p>
              <p> Price in Omnium Coin: {{tokenData.secondUpgradePriceOT}}</p>
            </span>
          </span>
        </q-card-section>
        <q-card-section class="row items-center">
          <p>Choose how to pay</p>

        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup></q-btn>
          <q-btn color="info" label="Proceed Upgrade" v-close-popup></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
</template>
<script>
import { defineComponent } from 'vue'
import { mapActions, mapGetters } from 'vuex'

export default defineComponent({
  name: 'PageIndex',
  components: {
  },
  data () {
    return {
      confirm: false,
      selectedTokenId: ''
    }
  },
  computed: {
    ...mapGetters(['isLoading', 'walletTokens', 'tokenData'])
  },
  mounted () {
    this.getWalletTokens()
  },
  methods: {
    ...mapActions(['getWalletTokens', 'tokenUpgrade', 'getSelectedTokenData']),
    onTokenUpgrade (tokenId) {
      this.selectedTokenId = tokenId
      this.getSelectedTokenData({ tokenId })
      this.confirm = true
    }
  }
})
</script>
<style scoped>
.q-card img {
  width: 300px;
  height: 150px;
}
</style>
