<template>
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
    <div class="horizon"></div>
    <div class="floor"></div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Background'
})
</script>
