<template>
  <div v-if="animate" :class="['balance_container', 'q-mt-sm', animate]">
    <div class="row q-mt-md">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">Roles: <span class="text-weight-bold">{{walletTokens.length}}</span></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 col-xl-5">Promotion Tickets: <span class="text-weight-bold">{{walletBalance.promotion_tickets}}</span></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">OTK: <span class="text-weight-bold">{{walletBalance.omnium_tokens}}</span></div>
    </div>
  </div>
</template>

<script>
import {
  defineComponent
} from 'vue'
import {
  mapActions,
  mapGetters
} from 'vuex'

export default defineComponent({
  name: 'BalanceBar',
  props: ['animate'],
  data () {
    return {
    }
  },
  watch: {
  },
  computed: {
    ...mapGetters(['walletConnected', 'walletBalance', 'walletTokens'])
  },
  methods: {
    ...mapActions(['getWalletBalance', 'getWalletTokens'])
  },
  created () {
    this.getWalletBalance()
  }
})
</script>
<style scoped>
</style>
