<template>
  <div v-if="Loading">
    <div class="row q-gutter justify-center">
      <div class="col-3 text-center">
        <img id="nave-loader" class="responsive float-2" src="imgs/Nave.svg" style="width:300px;">
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['loading'])
  }
}

</script>
<style>
</style>
