<template>
  <div class="cc-role-card">
    <p class="text-h5 text-left text-weight-medium"><span class="text-black">{{name}}</span> ROLE</p>
    <div class="text-center">
      <img class="responsive card-image" :src="imageUrl">
    </div>
    <div class="q-mt-md q-mb-md" v-if="tokenData">
      <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Tier:</span> {{tier}}</p>
      <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Staking yield:</span> {{tokenData.otkCoeficient}} OTK/day</p>
      <p class="no-margin text-h6 text-left text-weight-bold"><span class="text-black">Upgrade Price:</span> {{tokenData.upgradePrice}} Promotion Ticket</p>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  props: { tokenId: String, tokenData: Object },
  data () {
    return {
      imageUrl: '',
      name: ''
    }
  },
  computed: {
    ...mapGetters(['walletTokens']),
    tier () {
      let tier
      if (this.tokenId >= 1 && this.tokenId <= 10) {
        tier = 1
      }
      if (this.tokenId > 10 && this.tokenId <= 20) {
        tier = 2
      } else if (this.tokenId > 20) {
        tier = 3
      }
      return tier
    }
  },
  methods: {
    findToken () {
      const key = this.walletTokens.find(element => element.token_id === this.tokenId)
      if (key) {
        this.imageUrl = key.image_url
        this.name = key.name
      } else {
        this.imageUrl = ''
        this.name = 'Unknown'
      }
    }
  },
  mounted () {
    this.findToken()
  }
}
</script>
