@media (max-width: $breakpoint-xl-min) {
  .cc-card-horizontal {
    overflow: hidden;
    height: auto;
    width: 63%;
    max-width: 53vw !important;
  }

  .intro-text {
    text-align: center;
  }

  .text-h4 {
    margin: 0.5em;
    padding: 0.5em;
  }

  .text-body1 {
    margin: 0.5em;
    padding: 0.5em;
  }
  .menu {
    display: none;
  }
  .btn-grid {
    justify-content: center;
  }
  .role-bottom-buttons {
    .col {
      text-align: center;
      .cc-btn {
        margin: 0.5em !important;
      }
    }
  }
}

@media (max-width: $breakpoint-md-max) {
  .cc-card-horizontal {
    overflow: hidden;
    height: auto;
    width: 65%;
    max-width: 53vw !important;

    .text-h4 {
      margin: none;
      padding: none;
    }

    .text-body1 {
      margin: none;
      padding: none;
    }
    .q-toolbar__title {
      text-align: center;
    }
    .intro-text {
      text-align: center;
    }
  }
  .balance_container {
    text-align: center !important;
    position: relative !important;
    padding: 0.1em !important;
    width: 100%  !important;
    float: none !important;
    text-align: center !important;
  }
}
@media (max-width: $breakpoint-xs-max){
  .buttons-header {
    display: none;
  }
  .cw-top {
    display: none;
  }
  .menu {
    display: block;
  }
  .q-toolbar__title {
    text-align: center;
  }
  .intro-text {
    text-align: center;
  }
  .cc-card-horizontal {
    overflow: scroll;
    height: auto;
    border:  20.5px solid transparent !important;
    border-image: url(/imgs/h-bg-card.svg) 20.5 20.5 !important;
    width: 100%;
    max-width: 90vw !important;
    max-height: 100vh !important;
    text-align: center !important;
    & .q-card__section {
      text-align: center;
      & .row{
        justify-content: center;
      }
    }
    & .cc-btn {
      margin-top: 1em;
    }
  }
  .balance_container {
    font-size: 8pt;
    text-align: center !important;
    position: relative !important;
    border-radius: 0 !important;
    padding: 0.1em !important;
    width: 100%  !important;
    float: none !important;
    text-align: center !important;
  }
}

@media (min-width: 1920px) {
  .index-icons {
    margin-top: 5%;
  }
  .cw-btn-bottom {
    margin-top: 5%;
  }
  .intro-text {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .index-icons {
    margin-top: 5%;
  }
  .cw-btn-bottom {
    margin-top: 5%;
  }
  .intro-text {
    text-align: left;
  }
}

@media (max-width: 1023px) and (min-width: 600px) {
  .buttons-header {
    display: none;
  }
  .menu {
    display: block;
  }
  .q-toolbar__title {
    text-align: center;
  }
  .cc-card-horizontal {
    height: auto;
    width: 100%;
    max-width: 100vw !important;
    max-height: 100vh !important;
    text-align: center !important;
    & .q-card__section {
      text-align: center;
      & .row{
        justify-content: center;
      }
    }
    & .cc-btn {
      margin-top: 1em;
    }
  }
}
