// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import 'responsive';

body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(32,16,48,1) 55%) !important;
    font-family: 'Readex Pro', sans-serif;
    color: #E7F8F1;
}

.q-body--prevent-scroll {
    position:unset !important;
}

.q-header {
    background-color: #000000;
    box-shadow: 0px 0px 11px 5px rgba(16,93,170,0.41);
    height: 100px;
    padding: 1% !important;
    .q-tabs {
        margin-bottom: 15px;
    }
}

.no-margin {
    margin: 0;
}

.text-cyellow {
    color: #FBB03B !important;
}

.float-1 {
    transform: translatey(random() + px);
    animation: float 6 + s ease-in-out infinite;
    transition-delay: random() * 10 + s;
    animation-delay: 5s;
}

.float-2 {
    transform: translatey(random() + px);
    animation: float 6 + s ease-in-out infinite;
    transition-delay: 150s;
    animation-delay: 1s;
}

.float-3 {
    transform: translatey(random() + px);
    animation: float 6 + s ease-in-out infinite;
    transition-delay: random() * 100 + s;
    animation-delay: 3s;
}

//--------********** CyberCity Buttons Styles **********--------//

.cc-btn {
    &.primary {
        -webkit-box-shadow: 0px 0px 11px 5px rgba(16,93,170,0.41);
        box-shadow: 0px 0px 11px 5px rgba(16,93,170,0.41);
        border: 2px solid #FFFFFF;
        text-shadow: 0px 1px #558abb;
        &:hover {
            background: #1685F3 !important;
        }
        &.active {
            background: #105DAA !important;
        }
        &:disabled {
            background: #70CFFF !important;
        }
    }

    &.warning {
        -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
        box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
        border: 2px solid #FFFFFF;
        text-shadow: 0px 1px #FFD600;
        background-color: #201030;
        &:hover {
            background: #FFDA33 !important;
        }
        &.active {
            background: #FBA123 !important;
        }
        &:disabled {
            background: #FFE570 !important;
        }
    }

    &.pinky {
        -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 60, 165, 1);
        box-shadow: 0px 0px 10px 1px rgba(255, 60, 165, 1);
        border: 2px solid #FFFFFF;
        text-shadow: 0px 1px rgba(255, 60, 165, 1);
        background-color: #201030;
        &:hover {
            background: #FF3CA5 !important;
        }
        &.active {
            background: #F90068 !important;
        }
        &.deactivated {
          background: #F4AED6 !important;
      }
        &:disabled {
            background: #F4AED6 !important;
        }
    }

    &.connect-wallet {
        margin: none !important;
        border: 2px solid #FFFFFF;
        text-shadow: 0px 1px #FFD600;
        &:hover {
            -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
            box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
        }
        &.active {
            background: #FBA123 !important;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
            box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
        }
        &:disabled {
            background: #FFE570 !important;
        }
    }
}

//--------********** CyberCity Card Styles **********--------//

.cc-card {
    height: 365px;
    border:  25px solid transparent;
    border-image: url(/imgs/bg-card.svg) 20 round;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: transparent !important;
    box-shadow: none;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;

    .q-card__section {
      height: 100%;
    }

    h3 {
      margin-left: 0.2em !important;
      font-weight: 600;
      text-transform: uppercase !important;
    }

    h4 {
      margin-left: 0.2em !important;
      line-height: 1;
      text-align: left;
      font-weight: 900;
      text-transform: uppercase !important;
    }

    .text-h4:after {
        content: "\00a0" attr(data-descr);
        color: #4A3890 !important;
        text-transform: uppercase !important;
    }

    p {
        color: #FFF;
        text-align: justify;
    }
    .inner {
        background-color: #000000;
    }

}
//--------********** CyberCity Horizontal Card for Modal **********--------//

.cc-card-horizontal {
    // background-image: url(/imgs/h-bg-card.svg);
    border:  25px solid transparent;
    border-image: url(/imgs/h-bg-card.svg) 25 25;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: initial;
    background-color: transparent !important;
    box-shadow: none !important;
    & .q-card__section {
        min-height: 390px;
    }
}

//--------********** CyberCity Notificatons Styles **********--------//

.cc-notify-positive {
    background-color: #E7F8F1;
    box-shadow: 0px 0px 10px 1px rgba(16, 188, 119, 1);
    border: 2px solid #FFFFFF;
    color: #00B0A6 !important;
    padding: 1em;

    i {
        color: #10BC77;
    }

    i::before {
        content: '|';
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 1.5em;
        color: #10BC77;
    }
}

.cc-notify-negative {
    background-color: #FCEBEC;
    box-shadow: 0px 0px 10px 1px rgba(228, 58, 63, 1);
    border: 2px solid #FFFFFF;
    color: #FF5962 !important;
    padding: 1em;

    i {
        color: #E43A3F;
    }

    i::before {
        content: '|';
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 1.5em;
        color: #E43A3F;
    }
}

.cc-notify-warning {
    background-color: rgba(255, 247, 234, 1);
    box-shadow: 0px 0px 10px 1px rgba(255, 214, 0, 1);
    border: 2px solid rgba(255, 247, 234, 1);
    color: #FFAB2D !important;
    padding: 1em;

    i {
        color: #FFAB2D;
    }

    i::before {
        content: '|';
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 1.5em;
        color: #FFAB2D;
    }
}

.cc-notify-information {
    background-color: rgba(235, 246, 255, 1);
    box-shadow: 0px 0px 10px 1px rgba(0, 148, 255, 1);
    border: 2px solid  rgba(235, 246, 255, 1);
    color: #0094FF !important;
    padding: 1em;

    i {
        color: #0094FF;
    }

    i::before {
        content: '|';
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 1.5em;
        color: #0094FF;
    }
}

.tokens-grid {
  z-index: 9;
}

.token-avatar {
    -webkit-box-shadow: 0px 0px 10px 1px rgb(255, 252, 60);
    box-shadow: 0px 0px 10px 1px rgb(255, 252, 60);
    &:hover {
        z-index: 999;
        -webkit-transform:scale(1.1);
        transform:scale(2.1);
    }
}
///////////////////////////@at-root

.horizon {
    z-index: -999;
    width: 100%;
    top: 59%;
    overflow: hidden;
    left: 0;
    position: absolute;
    height: 3px;
    background: #e7d2e8;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #01ffdb, inset 0 0 2rem #01ffdb, 0 0 4rem #01ffdb, inset 0 0 4rem #01ffdb;
}

  .floor {
    z-index: -1;
    position: absolute;
    flex: 1;
    width: 97vw;
    top: 60%;
    height: 60vh;
    background-position: top;
    background-size: 30px 30px;
    background-color: #201030 !important;
    background-image:
      linear-gradient(to right, #01FFDB  1px, transparent 1px),
      linear-gradient(to bottom,  #01FFDB  1px, transparent 1px);
      transform: perspective(90px) rotateX(45deg);
    transform-origin: top center;
    animation: walking 10s infinite linear forwards;
  }

  @keyframes walking {
    from { background-position: 0 100%; }
    to { background-position: 0 0; }
  }

  @function generate-random-stars ($screen-width, $color, $density){

    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);

    $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
      @for $i from 2 through $density {
        $h-shadow: random($screen-width);
        $v-shadow: random($screen-width);

      $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
      }
      @return unquote($stars);
  }

  @mixin stars-content($screen-width, $color, $density, $speed, $delay) {
    width: 2px;
    height: 2px;
      border-radius: 50%;
      opacity: 0;
      box-shadow: generate-random-stars($screen-width, $color, $density);
      animation-name: glowing-stars;
    animation-duration: $speed+s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-delay: $delay+s;
  }


#stars-group-1{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0);
}

#stars-group-2{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0.1);
}

#stars-group-3{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0.2);
}

#stars-group-4{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0.3);
}

#stars-group-5{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0.4);
}

#stars-group-6{
  z-index: -999;
	@include stars-content(1800, #fff, 200, 1, 0.5);
}


@keyframes glowing-stars {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes float {
	0% {
		transform: translatey(random() + px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(random() + px);
	}
}

.q-dialog__inner > div {
    overflow: hidden !important;
}

// Vertical Card for Role

.cc-role-card {
    position: relative;
    max-height: 500px;
    height: auto;
    padding: 1.5em 1.5em 2em 1.5em;
    box-shadow: 0 0 30px 4px #01FFDB;
    border-radius: 2% 2%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    background: rgb(255,255,255,72%);
    color: #4A3890;

    .card-image {
        border: 1px solid #FFF;
        box-shadow: 0 0 20px 4px #FFF;
        border-radius: 50%;
        width: 220px;
        height: 220px;
    }
    .candado {
      width: 80px;
      left: 65%;
      top: 40%;
      position: absolute;
    }
}

.token_image {
  width: 105px;
  height: 105px;
  border: 11px solid transparent;
  border-image: url(/imgs/borde-user.svg) 24 8 round;
  -webkit-transition: all 0.7s ease;
  transition: transform 3s ease;

  &:hover {
    transform: scale(1.25)
  }

}

.glow {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #02E8CC, 0 0 40px #02E8CC, 0 0 50px #02E8CC;
}

.balance_container {
  color: #4A3890;
  border-radius: 0 27% 27% 0;
  text-align: center;
  padding: 0.1em;
  position: absolute;
  width: 50%;
  float: right;
  height: 54px;
  margin-right: 0%;
  background: rgba(255, 255, 255, 0.72);
  box-shadow: 0px 0px 20px #7b61ff;
  border-radius: 27px 0px 0px 27px;
}
