<template>
  <q-layout  view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
        class="menu"
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title class="float-left">
          <router-link to="/">
            <img src="/imgs/cybercity-logo.png" width="150"/>
          </router-link>
        </q-toolbar-title>
        <div class="absolute-center desktop-only buttons-header">
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', 'desktop-only', {active: $route.path === '/discover'} ]" rounded color="transparent" to="/discover" label="discover">
          </q-btn>
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', 'desktop-only', {active: $route.path === '/' || $route.path === '/platform' || $route.path === '/roles' } ]" rounded color="transparent" to="/roles" label="platform">
          </q-btn>
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', 'desktop-only', {active: $route.path === '/development'} ]" rounded color="transparent" to="/development" label="development">
          </q-btn>
        </div>
        <connect-wallet-btn class="cw-top"></connect-wallet-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      class="bg-dark"
      v-model="leftDrawerOpen"
      :show-if-above="false"
      bordered
      >
      <q-list dark bordered separator>
        <q-item clickable v-ripple class="q-pa-md">
        <q-item-section><img src="/imgs/cybercity-logo.png" width="150"/></q-item-section>
      </q-item>
        <q-item class="q-mt-md q-pa-md">
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', {active: $route.path === '/discover'} ]" rounded color="transparent" to="/discover" label="discover"></q-btn>
        </q-item>
        <q-item class="q-mt-md q-pa-md">
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', {active: $route.path === '/' || $route.path === '/platform' || $route.path === '/roles' } ]" rounded color="transparent" to="/roles" label="platform">
          </q-btn>
        </q-item>
        <q-item class="q-mt-md q-pa-md">
          <q-btn :class="['cc-btn', 'pinky', 'q-mr-md', {active: $route.path === '/development'} ]" rounded color="transparent" to="/development" label="development">
          </q-btn>
        </q-item>
    </q-list>
  </q-drawer>
  <q-page-container>
    <q-inner-loading :showing="isLoading" color="pink-5" :label-style="{ color: '#000' }" label="Please Wait">
    </q-inner-loading>
    <router-view />
  </q-page-container>
</q-layout>
</template>

<script>

import { defineComponent } from 'vue'
import { mapGetters, mapActions } from 'vuex'
import ConnectWalletBtn from 'src/components/buttons/ConnectWalletBtn.vue'

export default defineComponent({
  components: {
    ConnectWalletBtn
  },
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  computed: {
    ...mapGetters(['walletStatus', 'walletConnected', 'isLoading'])
  },
  methods: {
    ...mapActions(['connectWallet'])
  },
  created () {
  },
  mounted () {
  },
  updated () {
  }
})
</script>
<style lang="scss">
.navigation-tabs {
  margin-left: 2px;
}
.q-inner-loading {
  z-index: 10 !important;
}
</style>
